doctype 5
|<html lang="it">
head
	|<meta charset="utf-8" />
	|<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	|<title>#{project.title}</title>
	|<meta name="description" content="#{project.description}" />
	|<meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0" />
	|<link href="app/css/style.css" media="screen" rel="stylesheet" type="text/css" />
	|<script src="app/js/libs/modernizr.js"></script>